* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: black;
}

app {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex: 1 1 auto;
}

app canvas {
    object-fit: contain;
}