@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<GraphicsContext Width="800" Height="640">
    <Sprite Label="Graphics/player" Source="img/ball.png"/>
    <BreakoutGame></BreakoutGame>
</GraphicsContext>